<h1>Services</h1>
<p>Swamptown Records is looking for talent.  Check out the services we supply to our artists.</p>
<ul>
  <li>Studio Services</li>
  <li>Distribution Services</li>
  <li>Promotion Services</li>
</ul>
<p>Contact us at <a href="mailto:swamptownrecords@gmail.com">swamptownrecords@gmail.com</a></p>

{{outlet}}
