

<div class="row">
  <div class="col-xs-12">
    <h1>Artists</h1>
    <div class="row clearfix">
      {{#each model as |artist|}}
        <div class="col-xs-12 col-sm-6 col-md-3 column">
          {{#link-to 'artist' artist.id}}
            <img data-photo-id={{artist.id}} src={{artist.imagePath}} width="200px" height="200px">
            <br>
          {{artist.name}}{{/link-to}}
        </div>
      {{/each}}
    </div>
  </div>
</div>

{{liquid-outlet}}
